String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
a="shubh"

In [3]:
rev=a[::-1]

In [4]:
rev

'hbuhs'

2. Check if a string is a palindrome.

In [3]:
string1="malayalam"

In [5]:
rec= string1==string1[::-1]

In [6]:
rec

True

3. Convert a string to uppercase.

In [7]:
s1="monu"

In [8]:
s1.upper()

'MONU'

4. Convert a string to lowercase

In [9]:
s2="SHUBHASHISH"

In [10]:
s2.lower()

'shubhashish'

5. Count the number of vowels in a string.

In [12]:
c=0

In [21]:
s3="To The principle"
s3.lower()
for i in s3:
    if  i=='a' or i=='e' or i=='i' or i=='o'or i=='u':
        c=c+1
print(c)

5

6. Count the number of consonants in a string.

In [35]:
s5="To The principle"
v=['a,','e','i','o','u']
c=0
s5.lower()
for i in s5:
    if  i not in v:
        c=c+1
print(c)

11

7. Remove all whitespaces from a string.

In [25]:
s6="      To The principle"
s6.replace(" " ,"")

'ToTheprinciple'

8. Find the length of a string without using the `len()` function.

In [1]:
s7="To The principle"
c=0
for i in s7:
    c=c+1
print(c)

16

9. Check if a string contains a specific word.

In [3]:
s="my name is shubhashish"
s.find('is')

8

10. Replace a word in a string with another word.

In [5]:
s1="my name is shubhashish"
s1.replace('my','My')

'My name is shubhashish'

11. Count the occurrences of a word in a string.

In [7]:
t="my name is shubhashish"

In [14]:
t.count('is')

2

12. Find the first occurrence of a word in a string.

In [15]:
t="my name is shubhashish"

In [18]:
t.find('is')

8

13. Find the last occurrence of a word in a string.

In [2]:
l="my name is shubhashish"
l.rindex('is')

19

14. Split a string into a list of words.

In [3]:
l="my name is shubhashish"
l.split()

['my', 'name', 'is', 'shubhashish']

15. Join a list of words into a string

In [5]:
list1=['my', 'name', 'is', 'shubhashish']

In [6]:
" ".join(list1)

'my name is shubhashish'

16. Convert a string where words are separated by spaces to one where words are separated by underscores

In [7]:
l="my name is shubhashish"

In [8]:
l.replace(" ","_")

'my_name_is_shubhashish'

17. Check if a string starts with a specific word or phrase.

In [10]:
l="my name is shubhashish"
l.startswith('my')

True

In [11]:
l.startswith('name')

False

18. Check if a string ends with a specific word or phrase.

In [12]:
l="my name is shubhashish"

In [13]:
l.endswith('shubhashish')

True

In [14]:
l.endswith('my')

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [18]:
str2="hello world"

In [20]:
str2.title()

'Hello World'

20. Find the longest word in a string.

In [21]:
l="my name is shubhashish"

In [23]:
words=l.split()
word=""
for i in words:
    if len(i)>len(word):
        word=i
print(word)

shubhashish

21. Find the shortest word in a string.

In [26]:
l="my name is shubhashish"
words=l.split()
word=words[0]
for i in words:
    if len(i)<len(word):
        word=i
print(word)

my

22. Reverse the order of words in a string.

In [36]:
l="my name is shubhashish"
l[::-1]

'hsihsahbuhs si eman ym'

23. Check if a string is alphanumeric.

In [37]:
l="my name is shubhashish"
l.isalnum()

False

24. Extract all digits from a string.

In [5]:
s="sfjj6kg5bb9j"
for i in s:
     if i.isdigit():
            print(i,end="")

659


25. Extract all alphabets from a string.

In [6]:
s="sfjj6kg5bb9j"
for i in s:
    if i.isalpha():
        print(i,end="")

sfjjkgbbj

26. Count the number of uppercase letters in a string.

In [8]:
U="SfjJ6kg5Bb9j"
c=0
for i in U:
    if i.isupper():
        c=c+1
print(c)

3

27. Count the number of lowercase letters in a string.

In [9]:
U="SfjJ6kg5Bb9j"
c=0
for i in U:
    if i.islower():
        c=c+1
print(c)

6

28. Swap the case of each character in a string.

In [15]:
U="SfjJ6kg5Bb9j"
U.swapcase()

'sFJj6KG5bB9J'

29. Remove a specific word from a string.

In [18]:
U="SfjJ6kg5Bb9j"
U.replace("S","")

'fjJ6kg5Bb9j'

30. Check if a string is a valid email address.

In [39]:
import re
pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
s = "shubh@wifi.com"
if re.match(pat,s):
      print(True)
else:
    print(False)

True

31. Extract the username from an email address string.

In [42]:
s = "shubh@wifi.com"
s.split("@")[0]

'shubh'

32. Extract the domain name from an email address string.

In [46]:
s = "shubh@wifi.com"
k=s.split('@')[1]
k.split('.')[0]

'wifi'

33. Replace multiple spaces in a string with a single space.

In [48]:
s = "  shubh @ wifi . com   "
s.replace(" ","")

'shubh@wifi.com'

34. Check if a string is a valid URL.

In [4]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import validators
valid=validators.url('https://drive.google.com/')
if valid==True:
    print(True)
else:
    print(False)

True

35. Extract the protocol (http or https) from a URL string.

In [18]:
s="http://drive.google.com"
th=s.replace("https://","").replace("http://","")
print(th)

drive.google.com

36. Find the frequency of each character in a string.

In [2]:
s="you are the best"
chs={i:s.count(i) for i in set(s)}
print(chs)

{'h': 1, 'r': 1, 'u': 1, 'a': 1, 's': 1, 'e': 3, 'o': 1, ' ': 3, 'b': 1, 'y': 1, 't': 2}

37. Remove all punctuation from a string.

In [6]:
import string
s='!hi. wh?at is the weat[h]er lik?e.'
new_s=s.translate( str.maketrans('','',string.punctuation))
ps="gj57jbjwgf"
s.isdigit()rint(new_s)

hi what is the weather like

38. Check if a string contains only digits.

In [7]:
s="gj57jbjwgf"
s.isdigit()

False

In [8]:
k="7675"
k.isdigit()

True

39. Check if a string contains only alphabets.

In [9]:
s="gj57jbjwgf"
s.isalpha()

False

In [10]:
s="hjhgjkjhl"
s.isalpha()

True

40. Convert a string to a list of characters.

In [20]:
string="sbjkhbgdfh"
print(list(string))

['s', 'b', 'j', 'k', 'h', 'b', 'g', 'd', 'f', 'h']

41. Check if two strings are anagrams.

In [28]:
s1="race"
s2="care"
k=sorted(s1)==sorted(s2)
k

True

In [31]:
s1="earth" 
s2="Heart"  #its not anagrams because "H" is in capital in s2 which is not same in s1.
k=sorted(s1)==sorted(s2)
k

False

42. Encode a string using a Caesar cipher.

In [1]:
str_42 = 'ABCD'
str_42_encrypt = ''
for i in str_42:
    if i.islower():
        str_42_encrypt += chr(ord(i)+3)
    elif  i.isupper():
        str_42_encrypt += chr(ord(i)+3)    
    elif i.isdigit():
        str_42_encrypt += chr(ord(i)+3)        
    else:
        continue
        
print(str_42_encrypt)

DEFG

43. Decode a Caesar cipher encoded string.

In [2]:
str_42 = 'DEFG'
str_42_decrypt = ''
for i in str_42:
    if i.islower():
        str_42_decrypt += chr(ord(i)-3)
    elif  i.isupper():
        str_42_decrypt += chr(ord(i)-3)    
    elif i.isdigit():
        str_42_decrypt += chr(ord(i)-3)        
    else:
        continue
        
print(str_42_decrypt)

ABCD

44. Find the most frequent word in a string.

In [8]:
test = "abc def-ghi jkl abc"
k=test.replace("-"," ")
j=k.split()
l={}
for i in j:
    i=i.strip(".,?!").lower()
    if i in l:
        l[i]+=1
    else:
        l[i]=1

freq_word=max(l,key=l.get)
print(freq_word)

abc


45. Find all unique words in a string.

In [15]:
test = "abc def ghi jkl abc"
j=list(set(test.split()))
print(j)

['def', 'abc', 'jkl', 'ghi']

In [16]:
test.split()

['abc', 'def', 'ghi', 'jkl', 'abc']

In [17]:
set(test.split())

{'abc', 'def', 'ghi', 'jkl'}

46. Count the number of syllables in a string.

In [46]:
s="Hairy"
s.lower()
k=list(s)
Vowel=['a','e','i','o','u']
c=0
for i in k:
    if i in Vowel:
        c=c+1
    else:
        continue
print(c)

2

47. Check if a string contains any special characters.

In [53]:
string="svdf#&*ndknlk"
m=list(string)
c=0
s = '[@_!#$%^&*()<>?/\|}{~:]'
for i in m :
    if i in s:
        c=c+1
if c:
    print(True)
else:
    print(False)

True

48. Remove the nth word from a string.

In [68]:
test = "abc def ghi jkl abc"
k=test.split()
j=k.pop()
k

['abc', 'def', 'ghi', 'jkl']

49. Insert a word at the nth position in a string.

In [2]:
st9 = input()
nth = int(input())
st_insert = input()
st9 = st9.split()
st9.insert(nth, st_insert)
st9_1 = str(st9)
st9_1 = st9_1.replace('[', '')
st9_1 = st9_1.replace(']', '')
st9_1 = st9_1.replace("'", "")
st9_1 = st9_1.replace(',', '')
print(st9_1)

 "abc def ghi jkl abc"
 9
 thgf

"abc def ghi jkl abc" thgf

50. Convert a CSV string to a list of lists.

In [124]:
csv_string = """John,Doe,30
Alice,Smith,25
Bob,Johnson,35
"""
csv_list = [line.split(',') for line in csv_string.split('\n') if line.strip()]

for row in csv_list:
    print(row)

['John', 'Doe', '30']
['Alice', 'Smith', '25']
['Bob', 'Johnson', '35']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [88]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [90]:
len(list1)

10

3. Append an element to the end of a list.

In [91]:
list1.append(11)

In [92]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [93]:
list1.insert(6,"sumit")

In [94]:
list1

[1, 2, 3, 4, 5, 6, 'sumit', 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [98]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [99]:
list1.remove(6)

In [100]:
list1

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [102]:
del list1[0]

In [103]:
list1

[2, 3, 4, 5, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [105]:
list1

[2, 3, 4, 5, 7, 8, 9, 10, 11]

In [106]:
4 in list1

True

8. Find the index of the first occurrence of an element in a list.

In [6]:
list1=[1,3,4,5,2,6,2,7]
list1.index(2)

4

9. Count the occurrences of an element in a list.

In [8]:
list1=[1,2,4,5,2,6,2,7]
list1.count(2)

3

10. Reverse the order of elements in a list.

In [13]:
list1=[1,2,4,5,2,6,2,7,5]
list1[::-1]

[7, 2, 6, 2, 5, 4, 2, 1]

11. Sort a list in ascending order.

In [20]:
list1=[1,2,4,5,2,6,2,7,5]
list1.sort()
print(list1)

[1, 2, 2, 2, 4, 5, 5, 6, 7]

12. Sort a list in descending order.

In [22]:
list1=[1,2,4,5,2,6,2,7,5]
list1.sort(reverse=True)
print(list1)

[7, 6, 5, 5, 4, 2, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [31]:
k=[]
for i in range(1,21):
    if i%2==0:
        k.append(i)
print(k)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [32]:
k=[]
for i in range(1,21):
    if i%2!=0:
        k.append(i)
print(k)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [35]:
k=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in k:
    sum=sum+i
print(sum)

55

16. Find the maximum value in a list.

In [39]:
k=[1,2,3,4,5,6,7,8,9,10]
print(max(k))

10

17. Find the minimum value in a list.

In [40]:
k=[1,2,3,4,5,6,7,8,9,10]
print(min(k))

1

18. Create a list of squares of numbers from 1 to 10.

In [43]:
k=[1,2,3,4,5,6,7,8,9,10]
for i in k:
    i=i**2
    print(i ,end=" ")

1 4 9 16 25 36 49 64 81 100

19. Create a list of random numbers.

In [52]:
import random
my_randoms=[]
for i in range (10):
    my_randoms.append(random.randrange(1, 101, 1))
print (my_randoms)

[82, 22, 42, 4, 62, 10, 94, 37, 95, 89]

20. Remove duplicates from a list.

In [57]:
list1=[1,2,4,5,2,6,2,7,5]
k=list(set(list1))
print (k)

[1, 2, 4, 5, 6, 7]

21. Find the common elements between two lists.

In [65]:
list1=[1,2,3,4,5]
list2=[3,5,7,9,2,7]
k=[]
for i in list1:
    for j in list2:
        if i == j:
            k.append(i)
print(k)

[2, 3, 5]

22. Find the difference between two lists.

In [68]:
list1=[1,2,3,4,5]
list2=[3,5,7,9,2,7]
k=[]
for i in list2:
    if i  not in list1:
        k.append(i)
print(k)

[7, 9, 7]

23. Merge two lists.

In [69]:
list1=[1,2,3,4,5]
list2=[3,5,7,9,2,7]
k=[]
k=list1+list2
print(k)

[1, 2, 3, 4, 5, 3, 5, 7, 9, 2, 7]

24. Multiply all elements in a list by 2.

In [70]:
list1=[1,2,3,4,5]
k=[]
for i in list1:
    i=i**2
    k.append(i)
print(k)

[1, 4, 9, 16, 25]

25. Filter out all even numbers from a list.

In [123]:
list1=[1,2,3,4,5]
k=[]
for i in list1:
    if i%2==0:
        k.append(i)
print(k)

[2, 4]

26. Convert a list of strings to a list of integers.

In [8]:
list2=['1','2','3','4','5']
j=[int(k) for k in list2]
print(j)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [10]:
list1=[1,2,3,4,5]
k=[str(i) for i in list1]
print(k)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [18]:
list1=[[1],[2,3],[4,5,6],[7,8,9]]
k=[]
for i in list1:
    for j in i:
        k.append(j)
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [22]:
def fib(n):
    if n == 0:
        return [0]
    elif n == 1:
        return [0, 1]
    else:
        lst = fib(n-1)
        lst.append(lst[-1] + lst[-2])
        return lst
fib(8)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

30. Check if a list is sorted.

In [25]:
test_list = [10, 4, 5, 8, 10]
flag=0
test_list1=test_list[:]
test_list1.sort()
if test_list==test_list1:
    flag=1
if flag:
    print("it is sorted")
else:
    print("it is not sorted")

it is not sorted

31. Rotate a list to the left by `n` positions.

In [6]:
n=int(input())
test_list = [1, 2, 3, 4, 5]
test_list[n:] + test_list[:n]

 3

[4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions

In [10]:
test_list = [1, 2, 3, 4, 5]
test_list[-3:]+test_list[:-3]

[3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [20]:
k=[]
for num in range(1,50):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            k.append(num)
print(k ,end=" ")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [24]:
n=int(input())
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
k=[x[i:i+n]for i in range(0,len(x),n)]
k

 6

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18]]

35. Find the second largest number in a list.

In [41]:
list1=[1,3,5,4,2,7,9,8,20]
k=sorted(list1)
j=k[-2]
print(j)

9

36. Replace every element in a list with its square.

In [10]:
list1=[1,3,5,4,2,7,8,9,20]
k=[]
for i in list1:
    j=i**2
    k.append(j)
print(k)

[1, 9, 25, 16, 4, 49, 64, 81, 400]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [9]:
list1=[1,3,5,4,2,7,8,9,20]
l = []
for x,y in enumerate(list1):
    l.append((y,x))
print(dict(l))

{1: 0, 3: 1, 5: 2, 4: 3, 2: 4, 7: 5, 8: 6, 9: 7, 20: 8}

38. Shuffle the elements of a list randomly.

In [20]:
import random
list1=[1,2,3,4,5,6,7]
random.shuffle(list1)
print(list1)

[4, 6, 3, 7, 2, 5, 1]

39. Create a list of the first 10 factorial numbers.

In [33]:
x=10
fact=1
k=[]
for i in range(1,11):
    fact=fact*i
    k.append(fact)
print(k)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [34]:
list1=[1,2,3,4,5,6,7]
list2=[8,9,10,11,12,13,14]
flag=0
for i in list1:
    for j in list2:
        if i==j:
            flag=1
if flag==1:
    print("list have one common element")
else:
    print("list does not have common element")

list does not have common element

In [35]:
list1=[1,2,3,4,5,6,7]
list2=[7,9,10,11,12,13,14]
flag=0
for i in list1:
    for j in list2:
        if i==j:
            flag=1
if flag==1:
    print("list have one common element")
else:
    print("list does not have common element")

list have one common element

41. Remove all elements from a list.

In [4]:
list1=[1,2,3,4,56,5,6,77]
list1.clear()
list1

[]

42. Replace negative numbers in a list with 0.

In [6]:
list1=[1,-32,3,-1,56,5,6,77]
k=[0 if x<0 else x for x in list1]
k

[1, 0, 3, 0, 56, 5, 6, 77]

43. Convert a string into a list of words.

In [15]:
list2="my name is shubhashish"
list2.split()

['my', 'name', 'is', 'shubhashish']

44. Convert a list of words into a string

In [17]:
list2=['my', 'name', 'is', 'shubhashish']
(" ").join(list2)

'my name is shubhashish'

45. Create a list of the first `n` powers of 2.

In [21]:
n=int(input())
powers = [1 << i for i in range(n)]
print(powers)

 5

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [28]:
list2=['my', 'name', 'is', 'shubhashish']
res=max(list2 ,key=len)
res

'shubhashish'

In [29]:
list2=['gfg', 'is', 'best', 'for', 'geeks']
res=max(list2,key=len)
res

'geeks'

47. Find the shortest string in a list of strings.

In [33]:
list2=['gfg', 'is', 'best', 'for', 'geeks']
res=min(list2,key=len)
res

'is'

48. Create a list of the first `n` triangular numbers.

In [50]:
n=int(input("Please Enter n:"))
k=[]
for i in range(1,n+1):
    y1=(i**2+i)//2
    k.append(y1)
print (k)

Please Enter n: 5

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [58]:
list1=[1,2,3,4,5,7,8,9,10]
list2=[3,4,5]
k=[list1[i:i+len(list2)]for i in range(len(list1)-len(list2)+1)]
l=any(sublist==list2 for sublist in k)
print(l)

True

50. Swap two elements in a list by their indices.

In [61]:
k=[1,2,3,4,5,6,7,8,9]
pos1=int(input())
pos2=int(input())
k[pos1],k[pos2]=k[pos2],k[pos1]
print(k)

 2
 3

[1, 2, 4, 3, 5, 6, 7, 8, 9]

#Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [7]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [9]:
t1=(1,2,3,4,5)
t1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [18]:
t1=(1,2,3,4,5)
count=0
for i in t1:
    count=count+1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [33]:
t2=(1,2,3,4,5,6,3,2,1,9)
n=int(input())
count=0
for i in t2:
    if n == i:
        count=count+1
print(count)

 3

2

5. Find the index of the first occurrence of an element in a tuple.

In [44]:
t2=(1,2,3,4,5,6,3,2,1,8)
n=int(input())
t2.index(n)

 2

1

6. Check if an element exists in a tuple.

In [4]:
t2=(1,2,3,4,5,6,3,2,1,8)
n=int(input())
if n in t2:
    print("present in the Tuple")
else:
    print("not present in the Tuple")

 10

not present in the Tuple

7. Convert a tuple to a list.

In [6]:
t2=(1,2,3,4,5,6,3,2,1,8)
list(t2)

[1, 2, 3, 4, 5, 6, 3, 2, 1, 8]

8. Convert a list to a tuple.

In [7]:
t3=[1, 2, 3, 4, 5, 6, 3, 2, 1, 8]
tuple(t3)

(1, 2, 3, 4, 5, 6, 3, 2, 1, 8)

9. Unpack the elements of a tuple into variables.

In [11]:
t2=(1,2,3,4,5,6,3,2,1,8)
(a,b,*c)=t2
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6, 3, 2, 1, 8]

10. Create a tuple of even numbers from 1 to 10.

In [20]:
t2=[]
for i in range(1,11):
    if i%2==0:
        t2.append(i)
tuple(t2)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [21]:
t2=[]
for i in range(1,11):
    if i%2!=0:
        t2.append(i)
tuple(t2)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [22]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [23]:
t1=(1,2,3,4,5)
k=t1*3
print(k)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [35]:
t1=(1,2,3,4,5)
if len(t1)==0:
    print("empty")
else:
    print("not empty")

not empty

15. Create a nested tuple.

In [36]:
t1=(1,2,(3,4),5)
t1

(1, 2, (3, 4), 5)

16. Access the first element of a nested tuple.

In [49]:
t1=(1,2,(3,4),5)
t1[2][0]

3

17. Create a tuple with a single element.

In [50]:
t1=(1)
t1

1

18. Compare two tuples.

In [54]:
t3=(1,2,3)
t4=(3,4,5)
t1==t2

False

In [67]:
t3=(1,2,3)
t4=(1,2,3)
t3==t4

True

19. Delete a tuple.

In [73]:
t3=(1,2,3)
print(t3)
del t3

(1, 2, 3)

In [75]:
del t3 #its showing me an error because tuple (t3) was deleted.

NameError: name 't3' is not defined

20. Slice a tuple.

In [91]:
tuple_1 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
k=slice(1,4)
j=tuple_1[k]
print(j)

('b', 'c', 'd')

21. Find the maximum value in a tuple.

In [92]:
t1=(1,2,3,4,5)
max(t1)

5

22. Find the minimum value in a tuple.

In [93]:
t1=(1,2,3,4,5)
min(t1)

1

23. Convert a string to a tuple of characters.

In [94]:
j="shubhashish"
tuple(j)

('s', 'h', 'u', 'b', 'h', 'a', 's', 'h', 'i', 's', 'h')

24. Convert a tuple of characters to a string.

In [100]:
t1=('s', 'h', 'u', 'b', 'h', 'a', 's', 'h', 'i', 's', 'h')
k="".join(t1)
print(k)

shubhashish

In [101]:
type(k)

str

25. Create a tuple from multiple data types.

In [105]:
t3=(1,2,3,3.4,"shubh",False)
print(t3)

(1, 2, 3, 3.4, 'shubh', False)

In [106]:
type(t3)

tuple

26. Check if two tuples are identical.

In [107]:
t1=(1,2,3)
t2=(4,5,6)
t1==t2

False

In [109]:
t1=(1,2,3)
t2=(1,2,3)
t1==t2

True

27. Sort the elements of a tuple.

In [114]:
t9=(1,5,2,65,78,45,67,8)
tuple(sorted(t9))

(1, 2, 5, 8, 45, 65, 67, 78)

In [116]:
type(t9)

tuple

28. Convert a tuple of integers to a tuple of strings.

In [159]:
t9=(1,5,2,65,78,45,67,8)
t10=tuple(str(num) for num in t9)
print(t10)

('1', '5', '2', '65', '78', '45', '67', '8')


29. Convert a tuple of strings to a tuple of integers.

In [160]:
t1=('1', '5', '2', '65', '78', '45', '67', '8')
t10= tuple(int(num) for num in t1)
print(t10)

(1, 5, 2, 65, 78, 45, 67, 8)

30. Merge two tuples.

In [174]:
t1=(1,2,3)
t2=(4,5,6)
t1 +t2

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [1]:
t1=(1,2,(3,4),5)
j=[]
k=[j.append(i) for i in list(t1) for i in j ]
k

[]

In [28]:
t1=((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))
k=list(t1)
j=[]
for i in k:
    for l in i:
        j.append(l)
tuple(j)

(4, 5, (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

32. Create a tuple of the first 5 prime numbers.

In [109]:
inn=int(input())
k=[]
for n in range(1,inn,1):
    if n >1:
        for i in range(2,n):
            if n%i==0:
                break 
        else:
            k.append(n)
        j=tuple(k)
print(j)

 12

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [11]:
t1=("m","a","l","a","y","a","l","a","m")
k=list(t1)
flag=0
for i in k:
    if k[0]== k[-1]:
        flag=1
    else:
        break
if flag==0:
    print("not palindrome")
else:
    print("palindrome")

palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [33]:
k=[]
for i in range(1,6):
        i=i**2
        k.append(i)
t2=tuple(k)
t2

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [56]:
t1=(2,3,4,5,6,1,0,67,85)
k=[i for i in t1 if i%2==0]
tuple(k)

(2, 4, 6, 0)

36. Multiply all elements in a tuple by 2.

In [58]:
t1=(2,3,4,5,6,1,0,67,85)
k=[i**2 for i in t1 ]
tuple(k)

(4, 9, 16, 25, 36, 1, 0, 4489, 7225)

37. Create a tuple of random numbers.

In [75]:
import random
k=tuple(random.randint(1,100) for _ in range(5))
k

(93, 28, 39, 13, 36)

38. Check if a tuple is sorted.

In [80]:
t1=(2,3,4,5,6,1,0,67,85)
t2=sorted(t1)
if t1==t2:
    print("sorted")
else:
    print("not sorted")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [83]:
n=int(input())
t1=(2,3,4,5,6,1,0,67,85)
t2=t1[n:] + t1[:n]
t2

 3

(5, 6, 1, 0, 67, 85, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions.

In [89]:
n=int(input())
t1=(2,3,4,5,6,1,0,67,85)
t2=t1[:-3]+t1[-3:]
t2

 3

(2, 3, 4, 5, 6, 1, 0, 67, 85)

41. Create a tuple of the first 5 Fibonacci numbers.

In [128]:
fib1=0
fib2=1
k=[]
for i in range(5):
    k.append(fib1)
    fib1,fib2=fib2,fib1+fib2
tuple(k)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [141]:
t1=input()
tuple_input=tuple(t1)
tuple_input

 lkfhcv

('l', 'k', 'f', 'h', 'c', 'v')

43. Swap two elements in a tuple.

In [166]:
t1=(1,2,3,4,5,6)
ti=t1[0]
tj=t1[1]
t2=list(t1)
t2[ti],t2[tj]=t2[tj],t2[ti]
k=tuple(t2)
k

(1, 3, 2, 4, 5, 6)

In [168]:
t1=(1,2,3,4,5,6)
ti=t1[0]
ti

1

44. Reverse the elements of a tuple.

In [176]:
t1=(1,2,3,4,5,6)
t1[::-1]

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [1]:
n=int(input())
k=tuple(i**2 for i in range(n))
k

 5

(0, 1, 4, 9, 16)

46. Find the longest string in a tuple of strings.

In [3]:
k=("sunit","mohit","sonu", "shubhashish")
t=max(k,key=len)
t

'shubhashish'

47. Find the shortest string in a tuple of strings.

In [4]:
k=("sunit","mohit","sonu", "shubhashish")
t=min(k,key=len)
t

'sonu'

48. Create a tuple of the first `n` triangular numbers.

In [7]:
n = int(input())
t=0
k=[]
for i in range(1,n+1):
    t=t+i
    k.append(t)
tuple(k)

 5

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [18]:
t3=(1,2,3,(8,7),4,10,21,34)
t4=(3,4)
x=set(t4).issubset(t3)
if x:
    print("subsequences of t3")
else:
    print("not a subsequences of t3")

subsequences of t3

50. Create a tuple of alternating 1s and 0s of length `n`.

In [21]:
n=int(input())
k=[]
for i in range(n):
    if i%2==0:
        k.append(1)
    else:
        k.append(0)
tuple(k)

 10

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [25]:
d={1,2,3,4,5}
d

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [27]:
d.add(6)
d

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [28]:
d.remove(4)
d

{1, 2, 3, 5, 6}

4. Check if an element exists in a set.

In [31]:
3 in d

True

5. Find the length of a set without using the `len()` function.

In [34]:
count=0
for i in d:
    count=count+1
print(count)

5

6. Clear all elements from a set.

In [37]:
d.clear()
d

set()

7. Create a set of even numbers from 1 to 10.

In [41]:
s={x for x in range(1,10) if x%2==0}
s

{2, 4, 6, 8}

8. Create a set of odd numbers from 1 to 10.

In [42]:
s={x for x in range(1,10) if x%2!=0}
s

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [48]:
s1={1,2,3,4,5}
s2={6,7,8,2,1}
k=s1.union(s2)
k

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [50]:
s1={1,2,3,4,5}
s2={6,7,8,2,1}
k=s1.intersection(s2)
k

{1, 2}

11. Find the difference between two sets.

In [51]:
s1={1,2,3,4,5}
s2={6,7,8,2,1}
k=s1.difference(s2)
k

{3, 4, 5}

12. Check if a set is a subset of another set.

In [53]:
s1={1,2,3,4,5}
s2={2,1}
k=s2.issubset(s1)
k

True

13. Check if a set is a superset of another set.

In [54]:
s1={1,2,3,4,5}
s2={2,1}
k=s2.issuperset(s1)
k

False

14. Create a set from a list.

In [55]:
list1=[1,2,3,445,6,7,9]
set(list1)

{1, 2, 3, 6, 7, 9, 445}

15. Convert a set to a list.

In [56]:
s1={1,2,3,4,5}
list(s1)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [79]:
import random
s1={1,2,3,4,5}
li=list(s1)
d1=random.choice(li)
s1.remove(d1)
s1

{1, 2, 4, 5}

17. Pop an element from a set.

In [12]:
s1={1,2,3,4,5}
s1.pop()

1

18. Check if two sets have no elements in common.

In [83]:
s1={1,2,3,4,5}
s2={6,7,8,9}
s1.isdisjoint(s2)

True

In [84]:
s1={1,2,3,4,5}
s2={6,2,8,9}
s1.isdisjoint(s2)

False

19. Find the symmetric difference between two sets.

In [2]:
s1={1,2,3,4,5}
s2={6,2,8,9}
s1.symmetric_difference(s2)

{1, 3, 4, 5, 6, 8, 9}

20. Update a set with elements from another set.

In [17]:
s3={1,2,3,4,5}
s4={6,2,8,9}
s3.update(s4)
print(s3)

{1, 2, 3, 4, 5, 6, 8, 9}

21. Create a set of the first 5 prime numbers.

In [122]:
inn=int(input())
k=[]
for n in range(1,inn,1):
    if n >1:
        for i in range(2,n):
            if n%i==0:
                break 
        else:
            k.append(n)
        j=set(k)
print(j)

 12

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [31]:
s3={1,2,3,4,5}
s4={6,2,8,9}
s3==s4

False

23. Create a frozen set.

In [32]:
s3=frozenset([1,2,3,4,5])
s3

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [34]:
s3={1,2,3,4,5}
s4={6,2,8,9}
s3.isdisjoint(s4)

False

25. Create a set of squares of numbers from 1 to 5.

In [36]:
square_set=set()
for i in range(1,6):
    square_set.add(i**2)
print(square_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [50]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
j={x for x in s1 if x%2==0}
j

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [51]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
j={x**2 for x in s1}
j

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

28. Create a set of random numbers.

In [55]:
import random
j=set()
for i in range(10):
    l=random.randint(1,100)
    j.add(l)
print(j)

{32, 66, 70, 7, 11, 47, 16, 89, 94}

29. Check if a set is empty.

In [57]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
if len(s1)==0:
    print("empty set")
else:
    print("not a empty set")

not a empty set

30. Create a nested set (hint: use frozenset).

In [62]:
s=set([frozenset({"shubh","mohit"}),frozenset({"sonu","mama"})])
s

{frozenset({'mohit', 'shubh'}), frozenset({'mama', 'sonu'})}

31. Remove an element from a set using the discard method.

In [64]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s1.discard(3)
s1

{1, 2, 4, 5, 6, 7, 8, 9, 10}

32. Compare two sets.

In [65]:
s3={1,2,3,4,5}
s4={6,2,8,9}
s3==s4

False

33. Create a set from a string.

In [70]:
s="shubhashish"
set(s)

{'a', 'b', 'h', 'i', 's', 'u'}

34. Convert a set of strings to a set of integers.

In [72]:
string_set = {"1", "2", "3", "4", "5"}
string_int={int(s) for s in string_set}
print(string_int)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [74]:
set_int={1, 2, 3, 4, 5}
set_str=(str(i) for i in set_int)
print(set(set_str))

{'1', '4', '2', '5', '3'}

36. Create a set from a tuple.

In [75]:
t=(1,2,3,4,5)
set(t)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [76]:
s1={1, 2, 3, 4, 5}
tuple(s1)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [77]:
s1={1, 2, 3, 4, 5}
max(s1)

5

39. Find the minimum value in a set.

In [80]:
s1={1, 2, 3, 4, 5}
min(s1)

1

40. Create a set from user input.

In [83]:
input1=input()
input_list=input1.split(",")
set1=[]
for i in input_list:
    set1.append(i.strip())
print(set(set1))

 shubhashish

{'shubhashish'}

41. Check if the intersection of two sets is empty.

In [85]:
s3={1,2,3,4,5}
s4={6,2,8,9}
if s1.intersection(s2)==0:
    print("empty")
else:
    print("not empty")

not empty

42. Create a set of the first 5 Fibonacci numbers.

In [89]:
j=[]
fib1=0
fib2=1
for i in range(5):
    if i==0:
        j.append(i)
    fib1,fib2=fib2,fib1+fib2
    j.append(fib1)
print(set(j))

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [92]:
s3=[1,2,3,7,4,1,5,4,5]
j=list(set(s3))
print(j)

[1, 2, 3, 4, 5, 7]

44. Check if two sets have the same elements, regardless of their count.

In [93]:
s3={1,2,3,4,5}
s4={6,2,8,9}
s3==s4

False

45. Create a set of the first `n` powers of 2.

In [94]:

n=int(input())
k={x**2 for x in range(n)}
k

 10

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

46. Find the common elements between a set and a list.

In [96]:
s1=[1,2,3,4,5,6]
s2={2,5,8,9,1}
c=s2.intersection(s1) 
print(c)

{1, 2, 5}

47. Create a set of the first `n` triangular numbers.

In [97]:
n = int(input())
t=0
k=[]
for i in range(1,n+1):
    t=t+i
    k.append(t)
set(k)

 10

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [103]:
s1={1,2,3,5,6,7}
s2={3,7}

if s2.issubset(s1):
    print("subset of set")
else:
    print("no subset present")

subset of set

49. Create a set of alternating 1s and 0s of length `n`.

In [109]:

n=int(input())
k=[]
for i in range(1,n):
    if i%2==0:
        k.append(1)
    else:
        k.append(0)
set(k)

 10

{0, 1}

50. Merge multiple sets into one.

In [116]:
s1={1,2,3,4}
s2={2,5,6,7,8}
k=s1 | s2
print(k)

{1, 2, 3, 4, 5, 6, 7, 8}