#Basic Level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [19]:
list1=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list1:
    sum=sum+i
print(sum)

55

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [28]:
s="shubhashish"
k=''
for i in range(len(s),0,-1):
    k+=s[i-1]
print(k)

hsihsahbuhs

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [35]:
j=int(input())
fact=1
for i in range(2,j+1):
    fact=fact*i
print(fact)

 5

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [48]:
j=int(input())
for i in range(1,11):
    print(j, 'x' , i ,'=', j*i)

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [59]:
x=[1,2,3,4,5,6,7,8,9,10]
e_count=0
o_count=0
for i in x:
    if i %2==0:
        e_count=e_count+1
    else:
        o_count=o_count+1
print("number of even:",e_count)
print("number of odd:",o_count)

number of even: 5
number of odd: 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [6]:
sq=0
for i in range(1,6):
    sq=i**2
    print(sq)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [12]:
s=input()
c=0
for i in s:
    c=c+1
print(c)

 shubhashish

11

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [16]:
num=[1,2,3,4,5]
sum=0
count=0
for i in num:
    sum=sum+i
    count=count+1
    avg=sum//count
print(avg)

3

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [25]:
n=int(input())
fib1=0
fib2=1
fib=0
for i in range(n):
    fib=fib1+fib2
    fib1=fib2
    fib2=fib
    print(fib)

 5

1
2
3
5
8

##Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop

In [16]:
list1=[1,2,3,4,5,4,3,2]
for i in range(len(list1)):
    for j  in range(i+1,len(list1)):
        if list1[i]==list1[j]:
            print("it  has  duplicate")
        else:
            print("it  does not have duplicate")
    print()

it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate

it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  has  duplicate

it  does not have duplicate
it  does not have duplicate
it  does not have duplicate
it  has  duplicate
it  does not have duplicate

it  does not have duplicate
it  has  duplicate
it  does not have duplicate
it  does not have duplicate

it  does not have duplicate
it  does not have duplicate
it  does not have duplicate

it  does not have duplicate
it  does not have duplicate

it  does not have duplicate

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [27]:
x=int(input())
if x>1:
    for i in range(x):
        if i%2==0:
            print("not a prime number:",i)
        else:
            print ("prime number:",i)
else:
    print("not a prime number:",x)

 10

not a prime number: 0
prime number: 1
not a prime number: 2
prime number: 3
not a prime number: 4
prime number: 5
not a prime number: 6
prime number: 7
not a prime number: 8
prime number: 9

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [18]:
string1=input()
li=string1.lower()
count=0
for i in li:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            count=count+1
print(count)

 shubhashish

3


14. Write a program to find the maximum element in a 2D list using a nested `for` loop

In [27]:
def get_max(my_list):
    m = None
    for item in my_list:
        if isinstance(item, list):
            item = get_max(item)
        if not m or m < item:
            m = item
    return m
        
my_list = [2,4,6,[5,10,3]]
get_max(my_list)

10

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop

In [36]:
x = [1, 2, 3, 4, 2, 2, 3]
val=int(input())
for i in x:
    if i!=val:
        print(i,end=" ")

 2

1 3 4 3

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop

In [37]:
num=int(input())
for i in range(1,11):
    print(num ,"X" ,i , "=",num*i)

 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [46]:
f=[45,48,50,40]
for i in f:
    c = (i-32)*5/9
    print(int(c) , end="  ")

7  8  10  4

18. Create a program to print the common elements from two lists using a `for` loop.

In [53]:
list1=[1,2,3,4,5]
list2=[2,8,6,7]
for i in list1:
    if i in list2:
        print(i)

2

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [72]:
n=int(input())
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print("*")

 5

*
* *
* * *
* * * *
* * * * *

*
* *
* * *
* * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop

In [76]:
x= int(input())
y=int(input())
if x>y:
    small=x
else:
    small=y
for i in range(1,small):
    if x%i==0 and y%i==0:
        gcd=i
print("GCd of both the number is :",gcd)

 48
 60

GCd of both the number is : 12

#ADVANCE LEVEL:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension

In [10]:
list1=[1,2,3,4,5,6,7,8,9,10]
sum=0
[sum:=sum+i for i in list1]
print(sum)

55

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension

In [18]:
n=30
k=[i for i in  range(2,n)  if n%i==0  and i%2!=0]
print(k)

[3, 5, 15]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [6]:
n=int(input())
ret=[x for x in range(1,n) if str(x)==str(x)[::-1]]
print(ret)

 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [11]:
my_list = [[1], [2, 6], [4, 5, 6, 7]]
k= [y for x in my_list for y in x]
print(k)

[1, 2, 6, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [41]:
n=int(input())
x=0
y=0
[(x:=x+i,y:=y+(i+1)) for i in range(0,n,2)]
print("sum  of even number :{} \nsum of odd number:{}".format(x,y))

 10

sum  of even number :20
sum of odd number:25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [45]:
x=int(input())
j=0
k=[j:=i**2 for i in range(1,x) if i%2!=0]
print(k)

 10

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [49]:
list1=[1,2,3,4,5]
list2=["shubh","sunil","mohit","sourabh","komal"]
k={list1[i]:list2[i] for i in range(len(list1))}
k

{1: 'shubh', 2: 'sunil', 3: 'mohit', 4: 'sourabh', 5: 'komal'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [51]:
input1=input()
Vowels=['a','e','o','u','i','A','E','I','O','U']
k=[i for i in input1 if i in Vowels]
print(k)

 sonam

['o', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [66]:
list2=["shubh23","sunil6","mohit75","sourabh894","komal76"]
non_numeric_strings = [''.join(char for char in string if char.isalpha()) for string in list2]
for i, string  in enumerate(list2):
    print(f"Original: {string}, non-Numeric Only: {non_numeric_strings[i]}")

Original: shubh23, non-Numeric Only: shubh
Original: sunil6, non-Numeric Only: sunil
Original: mohit75, non-Numeric Only: mohit
Original: sourabh894, non-Numeric Only: sourabh
Original: komal76, non-Numeric Only: komal

In [62]:
# to find the numeric 
list2=["shubh23","sunil6","mohit75","sourabh894","komal76"]
numeric_strings = [''.join(char for char in string if char.isdigit()) for string in list2]
for i, string in enumerate(list2):
    print(f"Original: {string}, Numeric Only: {numeric_strings[i]}")

Original: shubh23, Numeric Only: 23
Original: sunil6, Numeric Only: 6
Original: mohit75, Numeric Only: 75
Original: sourabh894, Numeric Only: 894
Original: komal76, Numeric Only: 76

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [4]:
def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i,end=" ")
            for j in range(i*i, n+1, i):
                prime_list.append(j)

print(prime_eratosthenes(100));

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 None

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [8]:
n=int(input("enter the number of inputs:"))
triplets=[(a,b,c) for a in range(1,n+1) for b in range(a,n+1) for c in  range(b,n+1) if a**2 + b**2 == c**2]
print(triplets)

enter the number of inputs: 5

[(3, 4, 5)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [11]:
list1=[1,2,3,"shubh","mohit"]
list2=[4,5,6,"rawat","kumar"]
j=[(i,j) for i in list1 for j in list2]
print(j)

[(1, 4), (1, 5), (1, 6), (1, 'rawat'), (1, 'kumar'), (2, 4), (2, 5), (2, 6), (2, 'rawat'), (2, 'kumar'), (3, 4), (3, 5), (3, 6), (3, 'rawat'), (3, 'kumar'), ('shubh', 4), ('shubh', 5), ('shubh', 6), ('shubh', 'rawat'), ('shubh', 'kumar'), ('mohit', 4), ('mohit', 5), ('mohit', 6), ('mohit', 'rawat'), ('mohit', 'kumar')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list

In [21]:
import statistics
list1=[1,2,3,4,5,2]
k=[mean:=statistics.mean(list1),median:=statistics.median(list1),mode:=statistics.mode(list1)]
print(k)

[2.8333333333333335, 2.5, 2]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [18]:
n=int(input())
for i in range(n+1):
    for j in range(n-i):
        print(" ",end=" ")
    c=1
    for j in range(1,i+1):
        print(c," ",end=" ")
        c=c*(i-j)//j
    print()

 5

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [55]:
fact=1
sum=0
for i in range(1,n+1):
    fact=fact*i
    print(fact)

1
2
6
24
120

In [56]:
fact=1
sum=0
for i in range(1,n+1):
    fact=fact*i
    sum=sum+fact
print(sum)

153

37. Write a program that finds the longest word in a sentence using list comprehension.

In [76]:
l=["shubh","mohit","kunal","shubhashish"]
k=[max(l,key=len)]
print(k)

['shubhashish']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [194]:
l=["shubh","mohit","kunal","shubhashish"]
n=[]
v=['A','E','I','O','U','a','e','i','o','u']
count=0
for i in l:
    for j in i:
        if j in v:
            count=count+1
if count >3:
    print(i)

shubhashish

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [171]:
sum=0
[sum:=sum+i for i in range(1,10001)]
print(sum)

50005000

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [17]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True
prime_palindromes = [num for num in range(10, 1000) if is_prime(num) and str(num) == str(num)[::-1]]
print("Prime palindromic numbers:")
for num in prime_palindromes:
    print(num, end=" ")

Prime palindromic numbers:
11 101 131 151 181 191 313 353 373 383 727 757 787 797 919 929